/*** NavBar ***/

.navbar{
  background: #e7e7e7;
  margin-bottom: 0;
}
.navbar-default .navbar-brand {
  color: #7E96A0;
  font-size: 26px;
}
.navbar-default .navbar-nav>li>a {
  color: #7E96A0;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #003057;
}
#brandLink {
  padding-left: 85px;
}
/**************************/

/*** Landing Page Body ***/
html, body, .solidBack {
    height: 100%;
    min-height: 100%;
}
.panel-default>.panel-heading {
  background: #fff;
  border: none;
  min-height: 40px;
}
.panel-default>.panel-body {
  display: none;
}

.guestPass {
  margin-top: 150px;
  margin-bottom: 60px
}
#Logo{
  padding-top: 30px;
  padding-bottom: 30px;
}
.stripedBack {
 background-image: -webkit-linear-gradient(bottom, #003057, #003057 49%, #55c5e9 49%);
 background-image: -o-linear-gradient(bottom, #003057, #003057 49%, #55c5e9 49%);
 background-image: linear-gradient(to top, #003057, #003057 49%, #55c5e9 49%);
 height: 542px;
}
.solidBack {
  background: #003057;
}
footer {
  min-height: 80px;
  background: #00223d;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
} 

/*** Register Page ***/

/*** Login ***/

/*** Select User Type ***/
.userType {
    padding: 40px;
    text-align: center;
}
.userType img:hover {
    opacity: 0.6;
}
#userClick {
    text-align: center;
}
#userClick ul {
  list-style-type: none;
}
#userClick li {
  display: inline-block;
}
#userClick input[type="radio"][id^="user_type"] {
  display: none;
}
#userClick label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}
label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}
#userClick label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}
:checked + label {
  border-color: #ddd;
}
:checked + label:before {
  content: "✓";
  background-color: #002543;
  transform: scale(1);
}
:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}