/* Profile progress bar*/
.progress {
	margin-top: 20px;
    margin-bottom: 20px;
}
.progress .progress-bar{
	position: relative;
}
#ab {
    background-color: #002543;
}
#edu {
    background-color: #95A0A9;
}
#pro {
    background-color: #95A0A9;
}

.profile_label {
    font-weight: bold;
    padding-right: 5px;
}
