/* Profile progress bar*/
.progress {
	margin-top: 20px;
    margin-bottom: 20px;
}
.progress .progress-bar{
	position: relative;
}
#ab {
    background-color: #002543;
}
#edu {
    background-color: #95A0A9;
}
#pro {
    background-color: #95A0A9;
}
/*Profile Design*/
#updateProfile, #resetbtn, #sendLink, #resetEmail, #loginbtn, #registerbtn, #edit_profile {
    color: #FFF;
    background: #002543;
    border-color: #002543;
}
#updateProfile:hover, #edit_profile:hover {
    background: #005091;
    border-color: #005091;
}
#resetpass {
    margin-top: 110px;
}
.profile_label {
    font-weight: bold;
    padding-right: 5px;
}
.x_content {
	display: none;
}
#upload_image {
    margin-top: 30px;
}
#crop-avatar {
    width: 100%;
}

/*Admin tiles*/
.card {
  position: relative;
  float: left;
  height: 280px;
  margin: 20px;
  margin-right: 10px;
  
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 10px;
  height: 280px;
  width: 100%;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
  background-color: #fff;
}

.card__back {
  background-color: #fff;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.widget.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.widget.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.admin-tile{
    font-size: 130px;
    margin-top: 30px;
}
    .admin-tile-content{
        text-align: center;
    }
.tile-options{
    list-style: none;
    padding-left: 0;
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
}
.admin-tile-title h2{
    width: 100%;
}

/*Notification Center*/
.notification-read {
  font-size: 11px;
}
.notification-read a {
  font-size: 11px;
}
.notification-title {
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 1px;
}
/*Create Research Opportunity Form*/
#description {
  height: 200px;
}
#form_pay_amount {
  display: none;
}
.input-group {
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-bottom: 0 !important;
}